
/* Your CSS Code here. */
table{
	width:80%;
	border:1px solid black;
	border-collapse:collapse;
}
td{
	border:1px solid black;
}
tbody{
	text-align:right;
}
.car{
	text-align:left;
}
thead{
	background-color:maroon;
	color:white;
}
.audi{
	background-color:lightcoral;
	color:white;
}
.bmw{
	background-color:lightpink;
}
.mg{
	background-color:lightgray
}